In [72]:
import sys, os
import numpy as np
import pandas as pd
import pandas.io.sql as psql
import sqlalchemy as sql

def header(msg):
    print('-'*50 + "\n" + msg +"\n")

filename='GSL_Ops.xlsx'   
conn = sqlite3.connect('customer.db')
cur=conn.cursor()

In [52]:
header('What’s the revenue of the 90th percentile rank customer_id from CustomerRevenue, ordered by revenue (where the highest-revenue customer_id is in the 99th percentile)?')
sql_problem_1 = "SELECT '90th Percentile' as Percentile_Rank, min(revenue) as revenue FROM \
            (Select CR.customer_id,printf('%.3f',CR.revenue) as revenue, PERCENT_RANK() Over(Order By CR.revenue asc) as rank \
            From CustomerRevenue as CR \
            Order by CR.revenue asc) \
            WHERE rank >=.9\
            Group by 1; "

print(sql_problem_1)
pd.read_sql_query(sql_problem_1,conn)

--------------------------------------------------
What’s the revenue of the 90th percentile rank customer_id from CustomerRevenue, ordered by revenue (where the highest-revenue customer_id is in the 99th percentile)?

SELECT '90th Percentile' as Percentile_Rank, min(revenue) as revenue FROM             (Select CR.customer_id,printf('%.3f',CR.revenue) as revenue, PERCENT_RANK() Over(Order By CR.revenue asc) as rank             From CustomerRevenue as CR             Order by CR.revenue asc)             WHERE rank >=.9            Group by 1;

   Percentile_Rank   revenue
0  90th Percentile  6426.570

In [55]:
header('What is the revenue by sales team region, along with revenue from accounts that have no sales team (note: Some customer IDs are assigned to a sales team in CustomerSalesTeam. Use this relationship to find your answer)?')
sql_problem_2 = "SELECT coalesce(CST.region,'No Sales Team') as region, sum(printf('%.f',CR.revenue)) as revenue \
                    From CustomerRevenue CR \
                    Left Join CustomerSalesTeam CST on CR.customer_id = CST.customer_id \
                    Group by 1 ORDER BY 1; "

print(sql_problem_2)
pd.read_sql_query(sql_problem_2,conn)

--------------------------------------------------
What is the revenue by sales team region, along with revenue from accounts that have no sales team (note: Some customer IDs are assigned to a sales team in CustomerSalesTeam. Use this relationship to find your answer)?

SELECT coalesce(CST.region,'No Sales Team') as region, sum(printf('%.f',CR.revenue)) as revenue                     From CustomerRevenue CR                     Left Join CustomerSalesTeam CST on CR.customer_id = CST.customer_id                     Group by 1 ORDER BY 1;

          region  revenue
0           APAC    46222
1       Americas    68449
2           EMEA    89070
3  No Sales Team  1976859

In [69]:
header('What is the revenue per agency (note: Some customer IDs have an agency assigned, in addition to their CustomerSalesTeam. A customer ID has an agency sales team if it both (1) appears in CustomerAgency and (2) the customer ID’s country in CustomerAgency matches the customer ID’s country in CustomerSalesTeam)?')
sql_problem_3 = ("Select CA.agency_name , sum(CR.revenue) as revenue \
                     FROM CustomerAgency CA \
                     INNER JOIN CustomerSalesTeam CST on CA.customer_id = CST.customer_id and CA.country=CST.country \
                LEFT JOIN CustomerRevenue CR on CA.customer_id = CR.customer_id \
                     GROUP BY 1;")
print(sql_problem_3.replace('  ','').replace
pd.read_sql_query(sql_problem_3,conn)

--------------------------------------------------
What is the revenue per agency (note: Some customer IDs have an agency assigned, in addition to their CustomerSalesTeam. A customer ID has an agency sales team if it both (1) appears in CustomerAgency and (2) the customer ID’s country in CustomerAgency matches the customer ID’s country in CustomerSalesTeam)?

Select CA.agency_name , sum(CR.revenue) as revenue           FROM CustomerAgency CA           LEFT JOIN CustomerRevenue CR on CA.customer_id = CR.customer_id           INNER JOIN CustomerSalesTeam CST on CA.customer_id = CST.customer_id and CA.country=CST.country           GROUP BY 1;

    agency_name       revenue
0        Dentsu  26404.907442
1  Independents  29202.142004
2       Omnicom  13360.475887
3      Publicis  10570.327216
4           WPP  22722.817609