In [48]:
import pandas as pd
import sqlite3

filename='GSL_Ops.xlsx'   
conn = sqlite3.connect('customer.db')
cur=conn.cursor()
df = pd.read_sql_query("Select CR.customer_id,CR.revenue, CST.region, CST.country, CST.team \
            From CustomerRevenue as CR \
            Left Join CustomerSalesTeam as CST \
            on CR.customer_id = CST.customer_id; ", conn)
df

     customer_id      revenue    region country            team
0            104   142.838690      None    None            None
1            327   417.888666      None    None            None
2            430  1290.284869      None    None            None
3            538   267.070334      None    None            None
4            585   349.063643      None    None            None
5            775   501.019332      None    None            None
6            823   108.366170      None    None            None
7            961   256.015551      None    None            None
8            997   253.603649      None    None            None
9           1102   764.635582      None    None            None
10          1115  5773.934426      None    None            None
11          1255  9793.099887      None    None            None
12          1393  2445.488002      None    None            None
13          1557   734.456390      None    None            None
14          1690  2986.431751  Americas      MX  Multi-vertical
15          1812   864.671716      None    None            None
16          1897   529.555391      None    None            None
17          1915  5785.921487      None    None            None
18          2029  5109.523881      None    None            None
19          2216   791.972075      APAC      SG          Travel
20          2374   345.098389      None    None            None
21          2412   929.904451      None    None            None
22          2433  4036.459820      None    None            None
23          2678   275.724396      None    None            None
24          2882   196.556550  Americas      US      Automotive
25          2980  4672.831847      None    None            None
26          3006  4943.859316      None    None            None
27          3254   341.017276      None    None            None
28          3460  2789.241017      None    None            None
29          3498  6329.689702      None    None            None
..           ...          ...       ...     ...             ...
969       119992  1156.949839      None    None            None
970       120046   433.618945      None    None            None
971       120233   627.230075      None    None            None
972       120323  3051.199644      None    None            None
973       120476  1599.252454      None    None            None
974       120680   414.938816      None    None            None
975       120713   194.160417      None    None            None
976       120878  1068.116271      None    None            None
977       120899   164.547079  Americas      BR             B2B
978       120907   307.614054      APAC      AU      Automotive
979       120954  1039.560072      None    None            None
980       121166   953.276519      None    None            None
981       121191   142.501843      None    None            None
982       121409   439.028622      EMEA      IT          Retail
983       121646   176.058493      None    None            None
984       121865  1405.754674      APAC      AU      Automotive
985       121940   273.038019      None    None            None
986       122012   501.756113      None    None            None
987       122088  9250.851492      None    None            None
988       122245  3641.436827      None    None            None
989       122290  4084.259056      None    None            None
990       122299  5201.820352      None    None            None
991       122491   672.771479      None    None            None
992       122631  1982.429858      None    None            None
993       122723   766.552008      None    None            None
994       122757   479.963128      None    None            None
995       122809  7277.101371      None    None            None
996       122875   281.973477      None    None            None
997       122973   220.933544      None    None            None
998       123067  1438.237045      None    None            None

[999 rows x 5 columns]